<?xml version="1.0"?>
<Settings>
	<Resources>
		<MTGJson>
			<Path>\resources\AllCards-x.json</Path>
		</MTGJson>
	</Resources>
	<Files>
		<Wishlist>
			<Pattern>^([\s]*([0-9]+)[\s]+)?([\s]*[^\[\]]+)([\s]+\[([0-9a-zA-Z]+)\])?[\s]*$</Pattern>
		</Wishlist>
		<Collection>
			<CurrentVersion>0.1</CurrentVersion>
			<Pattern>^([\s]*([0-9]+)[\s]+)?([\s]*[^\[\]]+)([\s]+\[([0-9a-zA-Z]+)\])[\s]*$</Pattern>
		</Collection>
	</Files>
</Settings>
