<?xml version="1.0"?>
<Settings>
	<Resources>
		<AllCards>
			<Path>\resources\AllCards-x.json</Path>
		</AllCards>
		<AllSets>
			<Path>\resources\AllSets.json</Path>
		</AllSets>
	</Resources>
	<Files>
		<Wishlist>
			<Pattern>^([\s]*([0-9]+)[\s]+)?([\s]*[^\[\]]+)([\s]+\[([0-9a-zA-Z]+)\])?[\s]*$</Pattern>
		</Wishlist>
		<Collection>
			<CurrentVersion>0.1</CurrentVersion>
			<MinimumRequiredVersion>0.1</MinimumRequiredVersion>
			<Pattern>^([^\[\]]+)([\s]+\[([0-9a-zA-Z]+)\])$</Pattern>
			<DefaultFileName>Collection</DefaultFileName>
			<DefaultFileExtension>.mtgc</DefaultFileExtension>
		</Collection>
	</Files>
</Settings>
